body {

    font-family: 'Work Sans', sans-serif;
}

/* Banner styles */

.banner {

    background: url(../images/banner/banner2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;

    padding: 200px 230px;
    display: flex;
    position: center;

}

.empty {

    width: 60%;

}

.banner-content {

    text-align: right;
    width: 40%;
}

.banner-title {

    font-weight: 700;
    font-size: 65px;
    color: #151414;
    font-family: 'Work Sans';
}

.banner-description {

    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 32px;
}

.banner-btn {

    width: 160px;
    height: 64px;
    background: #F15B22;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}




/* main styles */

main {

    margin: 130px 230px;
}

/* failure section */

.failure-content {

    display: flex;
    gap: 100px;
    align-items: center;
}

.failure-title {

    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-top: 200px;
}

.failure-reason{

    width: 30%;
}

.failure-description {


    font-weight: 400;
    font-size: 16px;
    color: #444343;
}


.checkmark{

    color: green;
}

/* future plan section */

.plan {

    margin: 130px 0;
}

.plan-header {

    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
    margin-bottom: 50px;
}

.plan-content {

    display: flex;
    justify-content: space-around;
}

.plan-title {

    font-weight: 700;
    font-size: 30px;
    color: #151414;
    text-align: center;
}

plan-description {

    font-weight: 500;
    font-size: 25px;
    color: #737272;
    text-align: center;
    margin: 20 px 0;
}

/* contact styles */

.image-with-gradient {

    height: 300px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    padding: 70px;
}

.text {

    width: 40%;
}

.advice {

    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}

.contact-btn {

    width: 160px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 36px;
    color: #F15B22;
    border: none;

}


/* footer styles */

.footer-content {

    background-color: black;
    padding: 130px 230px;

    height: 300px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.future {

    width: 30%;
}

.subscribe {

    width: 20%;
}

.title {

    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}

.footer-content p {

    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;

}

.phone {

    margin-bottom: 32px;
}

.footer-content a {

    margin-left: 20px;
}

.subscribe-title {

    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;

}

.subscribe input {

    width: 100%;
    height: 50px;
    padding: 20px;
    margin-top: 32px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Work Sans';
font-style: normal;

    color: #F3F3F3;
    background: #151414;
    border-radius: 8px;
    border:1px solid  #F3F3F3;
}

.subscribe-btn {

    width: 170.11px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    padding: 20px 37px;
}